/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700'); */
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Lora|Montserrat:500,700");

:root {
    /* Primary Colors */
    --color-primary-main: #232323; /*rgba(165, 0, 12, 1);*/
    --color-primary-dark: rgba(72, 0, 1, 1);

    --color-bg: #f7f6ee;
 
    /* Secondary Colors */
    --color-secondary-light: rgba(210, 255, 204, 1);
    --color-secondary-main: rgba(83, 224, 219, 1);

    --color-tertiary-light: rgba(222, 205, 164, 1);
    --color-tertiary-dark: rgba(59, 59, 59, 1);

    /* Extra Colors */
    --color-black: rgba(0, 0, 0, 1);
    --color-white: rgba(252, 252, 252, 1);

    /* Border Radius */
    --border-radius-main: .3rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--color-bg);
    color: var(--color-primary-main);
}

html {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lora', serif;
    font-size: 1.5vw;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: 1.6rem;
}

/****************************************/
/********** REUSEABLE CONTENT **********/
/****************************************/
.hidden {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
}

a:link,
a:visited {
    color: var(--color-primary-main);
}

.sub-header {
    font-family: 'Montserrat', serif;
}

.btn {
    font-family: 'Montserrat',sans-serif;
}

.icon {
    height: 4rem;
    width: auto;
}

.error {
    font-family: 'Montserrat', sans-serif;
}

/****************************************/
/********** HEADER **********/
/****************************************/
header {
    position: fixed;
    display: flex; /* flex children: image logo, nav */
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    background: transparent;
    /* background: linear-gradient(to bottom, var(--color-primary-main), var(--color-primary-dark)); */
    font-family: 'Lora', serif;
    z-index: 2;
}

.logo {
    height: 3.75rem;
}

/***** LINEAR NAVIGATION *****/
nav {
    display: flex; /* flex children: ul */
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex; /* flex children: li */
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: auto;
}

nav ul li {
    padding: .75rem;
}

.navbar__list--link {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.navbar__list--link:link,
.navbar__list--link:visited,
.resume--versions__link:link,
.resume--versions__link:visited {
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary-main) 50%);
    background-size: 250%;
    color: var(--color-primary-main);
    transition: all .4s;
}

.navbar__list--link:hover,
.navbar__list--link:active,
.resume--versions__link:hover,
.resume--versions__link:active {
    background-position: 100%;
    color: var(--color-bg);
}

.navbar__list--link::before {
    position: absolute;
    content: "     ";
    transition: all .2s;
}

.navbar__list--link::before:hover {
    background: var(--color-secondary-light); 
}

/***** HAMBURGER NAVIGATION *****/
/* .navbar__nav--hamburger {
    display: none;
} */

.hamburger__checkbox {
    display: none;
}

.hamburger__button {
    position: fixed;
    top: .5rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--color-bg);
    box-shadow: 0 1rem 3rem rgba(#000, .1);
    text-align: center;
    cursor: pointer;
    z-index: 2000;
}

.hamburger__background {
    position: fixed;
    top: .5rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-image: radial-gradient(var(--color-tertiary-light), var(--color-bg));
    z-index: 2;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}

.hamburger__nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 3;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger__list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    text-align: center;
    transform: translate(-50%,-50%);
}

.hamburger__item {
    margin: 1rem;
}

.hamburger__link:link,
.hamburger__link:visited {
    display: inline-block;
    width: 110%;
    padding: 1rem 2rem;
    margin-right: 1.5rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary-main) 50%);
    background-size: 220%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary-main);
    transition: all .4s;
}

.hamburger__link:hover,
.hamburger__link:active {
    background-position: 100%;
    color: var(--color-bg);
    transform: translateX(1rem);
}

/***** HAMBURGER NAVIGATION - FUNCTIONALITY *****/
.hamburger__checkbox:checked ~ .hamburger__background {
    transform: scale(80);
}

.hamburger__checkbox:checked ~ .hamburger__nav {
    opacity: 1;
    width: 100%;
}

/***** HAMBURGER NAVIGATION - ICON *****/
.hamburger__icon {
    position: relative;
    margin-top: 1.5rem;
}

.hamburger__icon,
.hamburger__icon::before,
.hamburger__icon::after {
    display: inline-block;
    height: .2rem;
    width: 2rem;
    background-color: var(--color-primary-main);
}

.hamburger__icon::before,
.hamburger__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}

.hamburger__icon::before { top: -.8rem; }

.hamburger__icon::after { top: .8rem; }

.hamburger__button:hover .hamburger__icon::before {
    top: -1rem;
}

.hamburger__button:hover .hamburger__icon::after {
    top: 1rem;
}

.hamburger__checkbox:checked + .hamburger__button .hamburger__icon {
    background-color: transparent;
}

.hamburger__checkbox:checked + .hamburger__button .hamburger__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.hamburger__checkbox:checked + .hamburger__button .hamburger__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

/****************************************/
/********** MAIN **********/
/****************************************/
main {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 4rem;
    height: 100vh;
    width: 100%;
    text-align: left;
    background-image: url('../resources/imgs/main__bg.png');
    background-size: cover;
    /* background-image: linear-gradient(rgba(59, 59, 59, .5), rgba(59, 59, 59, .5)), url('../resources/imgs/bg.jpg'); */
}

.about__content {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 40%;
    text-align: left;
}

.about__name {
    width: 100%;
    font-size: 4rem;
}

.about__summary {
    width: 100%;
    font-size: 1.2rem;
}

.about__contact {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "linked-in-icon email-icon github-icon"
                        "linked-in-text email-text github-text";
    margin-top: .5rem;
    font-size: 1.4rem;
}

.about__contact__linkedin--icon {
    grid-area: linked-in-icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__contact__linkedin--text {
    grid-area: linked-in-text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/* .about__contact__linkedin--text a {
    font-size: 1rem;
} */

.about__contact__email--icon {
    grid-area: email-icon;
    display: flex;
    justify-self: center;
    align-self: center;
}

.about__contact__email--text {
    grid-area: email-text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.about__contact__github--icon {
    grid-area: github-icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__contact__github--text {
    grid-area: github-text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/* .about__contact__github--text a {
    font-size: 1rem;
} */

/* ~~~~~ */
.about__contact__linkedin--text a,
.about__contact__github--text a {
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

.about__contact__linkedin--text a:link,
.about__contact__linkedin--text a:visited,
.about__contact__github--text a:link,
.about__contact__github--text a:visited {
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary-main) 50%);
    background-size: 250%;
    transition: all .4s;
}

.about__contact__linkedin--text a:hover,
.about__contact__linkedin--text a:active,
.about__contact__github--text a:hover,
.about__contact__github--text a:active, {
    /* background: var(--color-secondary-main);  */
    background-position: 100%;
    color: var(--color-bg);
    /* -webkit-text-stroke: 1px var(--color-black); */
}

.about__contact__linkedin--text a::before,
.about__contact__github--text a::before, {
    position: absolute;
    content: "     ";
    transition: all .2s;
}

.about__contact__linkedin--text a::before:hover,
.about__contact__github--text a::before:hover {
    background: var(--color-secondary-light); 
}

/* Background Video */
/* .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
}

.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

/****************************************/
/********** SKILLS **********/
/****************************************/
.skills__title {
    padding-top: 4rem;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.skill {
    flex-basis: 14%;
    display: grid;
    grid-template-columns: 5rem;
    grid-template-rows: 5rem 1.5rem;
    grid-template-areas: "img"
                         "text";
}

.skill__img {
    grid-area: img;
    display: flex;
    place-items: center;
    height: 5rem;
    width: 100%;
    object-fit: contain;
}

.skill__text {
    grid-area: text;
    justify-self: center;
    align-self: center;
    font-size: 1rem;
}

.skills__list {
    display: flex;
    flex-flow: column wrap;
    place-items: center;
    margin-top: 1rem;
    font-size: 1rem;
}

.skills__list--item {
    text-align: center;
}

/****************************************/
/********** PROJECTS **********/
/****************************************/
.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 4rem;
    margin-bottom: 2rem;
}

.projects h2 {
    margin-bottom: 1rem;
}

.project__card {
    width: 90%;
    display: grid;
    grid-template-columns: 60% 22.5% 5% 12.5%;
    grid-template-rows: 2.2rem 18.5rem 2.7rem;
    grid-template-areas: "title title title title"
                         "img des des des"
                         "img deployed github code";
    margin-bottom: .75rem;
    border: .1rem solid var(--color-primary-main);
    border-radius: var(--border-radius-main);
    overflow: hidden;
}

.project__title {
    grid-area: title;
    background-color: var(--color-primary-main);
    font-size: 2rem;
    color: var(--color-bg);
    text-align: center;
    /* border-top-left-radius: var(--border-radius-main);
    border-top-right-radius: var(--border-radius-main); */
}

.project__img--link {
    grid-area: img;
    height: 100%;
    width: auto;
}

.project__img--link::before:hover {
    background: none;
}

.project__img {
    /* height: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: var(--border-radius-main);
}

.project__description {
    grid-area: des;
    padding-left: .3rem;
    font-size: 1.4rem;
    border-bottom: .1rem solid var(--color-primary-main);
}

.project__link--deployed {
    grid-area: deployed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
}

.project__link--github-icon {
    grid-area: github;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 100%;
    width: auto;
}

.project__link--code {
    grid-area: code;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: .3rem;
    font-size: 1rem;
}

.project__link--code:link,
.project__link--code:visited,
.project__link--deployed:link,
.project__link--deployed:visited {
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary-main) 50%);
    background-size: 250%;
    color: var(--color-primary-main);
    transition: all .4s;
}

.project__link--code:hover,
.project__link--code:active,
.project__link--deployed:hover,
.project__link--deployed:active {
    background-position: 100%;
    color: var(--color-bg);
}

.project__link--code::before,
.project__link--deployed::before {
    position: absolute;
    content: "     ";
    transition: all .2s;
}

.project__link--code::before:hover,
.project__link--deployed::before:hover, {
    background: var(--color-secondary-light); 
}

/****************************************/
/********** RESUME **********/
/****************************************/
#resume {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 90%;
}

#resume h2 {
    margin-bottom: 1rem;
}

.resume--versions__link {
    margin: 1rem;
}

.resume--pdf {
    height: 1150px;
    width: 80vw;
}

#resume--digital {
    display: none;
}

.resume {
    width: 90%;
    align-self: center;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 2.6rem 10rem 10rem 82rem 12.5rem 4rem 12.5rem;
    grid-template-areas: "about about"
                         "profile--title profile"
                         "education--title education"
                         "experience--title experience"
                         "extracurriculars--title extracurriculars"
                         "publications--title publications"
                         "soft-skills--title soft-skills";
    border: .1rem solid var(--color-primary-main);
    border-radius: var(--border-radius-main);
    overflow: hidden;
}

.resume__link {
    font-size: 1rem;
}

.resume__title {
    text-align: right;
    font-size: 1rem;
    padding-right: .2rem;
    background-color: rgba(35, 35, 35, .6);
    color: var(--color-bg);
    font-weight: 700;
    /* transform: rotate(270deg); */
}

.resume__content {
    font-size: 1.2rem;
    padding-left: .3rem;
    overflow-y: scroll;
}

.resume__date {
    text-align: right;
}

.resume__about {
    grid-area: about;
    text-align: center;
    width: 100%;
    background-color: var(--color-primary-main);
    font-size: 2rem;
    color: var(--color-bg);
}

.resume__profile {
    grid-area: profile;
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__profile--title {
    grid-area: profile--title;
    border-right: .1rem solid var(--color-primary-main);
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__education {
    grid-area: education;
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__education--title {
    grid-area: education--title;
    border-right: .1rem solid var(--color-primary-main);
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__experience {
    grid-area: experience;
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__experience--title {
    grid-area: experience--title;
    border-right: .1rem solid var(--color-primary-main);
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__extracurriculars {
    grid-area: extracurriculars;
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__extracurriculars--title {
    grid-area: extracurriculars--title;
    border-right: .1rem solid var(--color-primary-main);
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__publications {
    grid-area: publications;
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__publications--title {
    grid-area: publications--title;
    border-right: .1rem solid var(--color-primary-main);
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__soft-skills {
    grid-area: soft-skills;
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__soft-skills--title {
    grid-area: soft-skills--title;
    border-right: .1rem solid var(--color-primary-main);
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__content--item {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.resume__content--item__header {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
    grid-template-areas: "title date";
    padding-right: .2rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.resume__content--item__title {
    grid-area: title;
}

.resume__content--item__date {
    grid-area: date;
    text-align: right;
    /* padding-right: .2rem; */
}

.resume__content--item__position {
    font-size: 1rem;
}

.resume__content--item__description {
    font-style: italic;
}

.resume__content--item__list {
    padding-left: 1.5rem;
}

/****************************************/
/********** FOOTER **********/
/****************************************/


/****************************************/
/********** MEDIA QUERIES **********/
/****************************************/
@media (max-width: 575.98px) { 
    /***** HAMBURGER NAVIGATION *****/
    .hamburger__button {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        background-color: var(--color-bg);
    }

    .hamburger__background {
        height: 10rem;
        width: 10rem;
    }

    .hamburger__item {
        margin: 5rem;
    }

    .hamburger__link:link,
    .hamburger__link:visited {
        font-size: 6rem;
        font-weight: 300;
    }

    /***** HAMBURGER NAVIGATION - FUNCTIONALITY *****/
    .hamburger__checkbox:checked ~ .hamburger__background {
        transform: scale(80);
    }

    .hamburger__checkbox:checked ~ .hamburger__nav {
        opacity: 1;
        width: 100%;
    }

    /***** HAMBURGER NAVIGATION - ICON *****/
    .hamburger__icon {
        margin-top: 5rem;
    }

    .hamburger__icon,
    .hamburger__icon::before,
    .hamburger__icon::after {
        width: 5rem;
    }

    .hamburger__icon::before { top: -2rem; }

    .hamburger__icon::after { top: 2rem; }

    .hamburger__button:hover .hamburger__icon::before {
        top: -2rem;
    }

    .hamburger__button:hover .hamburger__icon::after {
        top: 2rem;
    }

    /***** BODY *****/
    h2 {
        font-size: 24px;
    }

    main {
        background-position: -750px;
    }

    .about__content {
        width: 90%;
        text-align: center;
    }

    .about__name {
        font-size: 40px;
    }

    .about__summary {
        font-size: 16px;
    }

    .about__contact {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 200px;
    }

    .icon {
        height: 40px;
    }

    .about__contact,
    .about__contact__linkedin--text a,
    .about__contact__email--text,
    .about__contact__github--text a {
        font-size: 24px;
    }

    .skill__text {
        font-size: 8px;
    }

    .skills__list {
        font-size: 12px;
    }

    .resume--pdf {
        height: 1150px;
        width: 95vw;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    main {
        background-position: -250px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    main {
        background-size: auto 100%;
    }

    .about__name {
        font-size: 60px;
    }

    .about__summary {
        font-size: 24px;
    }

    .about__contact,
    .about__contact__linkedin--text a,
    .about__contact__email--text,
    .about__contact__github--text a {
        font-size: 16px;
    }

    .resume--pdf {
        height: 1150px;
        width: 95vw;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    
}