/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700'); */
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Lora|Montserrat:500,700");

:root {
    /* Primary Colors */
    --color-primary-main: #232323; /*rgba(165, 0, 12, 1);*/
    --color-primary-dark: rgba(72, 0, 1, 1);

    --color-bg: #f7f6ee;
 
    /* Secondary Colors */
    --color-secondary-light: rgba(210, 255, 204, 1);
    --color-secondary-main: rgba(83, 224, 219, 1);

    --color-tertiary-light: rgba(222, 205, 164, 1);
    --color-tertiary-dark: rgba(59, 59, 59, 1);

    /* Extra Colors */
    --color-black: rgba(0, 0, 0, 1);
    --color-white: rgba(252, 252, 252, 1);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--color-bg);
    color: var(--color-primary-main);
}

html {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lora', serif;
    font-size: 1.5vw;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: 1.6rem;
}

/**********REUSEABLE CONTENT**********/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}

.sub-header {
    font-family: 'Montserrat', serif;
}

.btn {
    font-family: 'Montserrat',sans-serif;
}

.icon {
    height: 2rem;
    width: auto;
}

.error {
    font-family: 'Montserrat', sans-serif;
}

/**********HEADER**********/
header {
    position: fixed;
    display: flex; /* flex children: image logo, nav */
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    background: var(--color-bg);
    /* background: linear-gradient(to bottom, var(--color-primary-main), var(--color-primary-dark)); */
    font-family: 'Lora', serif;
    z-index: 2;
}

.logo {
    height: 3.75rem;
}

/* NAVIGATION */
nav {
    display: flex; /* flex children: ul */
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex; /* flex children: li */
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: auto;
}

nav ul li {
    padding: 15px;
}

.navbar__list--link {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.navbar__list--link:link,
.navbar__list--link:visited {
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary-main) 50%);
    background-size: 250%;
    color: var(--color-primary-main);
    /* -webkit-text-stroke: 1px var(--color-black); */
    transition: all .4s;
}

.navbar__list--link:hover,
.navbar__list--link:active {
    /* background: var(--color-secondary-main);  */
    background-position: 100%;
    color: var(--color-bg);
    /* -webkit-text-stroke: 1px var(--color-black); */
}

.navbar__list--link::before {
    position: absolute;
    content: "     ";
    transition: all .2s;
}

.navbar__list--link::before:hover {
    background: var(--color-secondary-light); 
}

/**********MAIN**********/
main {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 4rem;
    height: 50vh;
    width: 60%;
    text-align: left;
    /* background-image: linear-gradient(rgba(59, 59, 59, .5), rgba(59, 59, 59, .5)), url('../resources/imgs/bg.jpg'); */
}

.about__name {
    width: 100%;
    font-size: 4rem;
}

.about__summary {
    width: 100%;
    font-size: 1.2rem;
}

.about__contact {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "linked-in-icon email-icon github-icon"
                        "linked-in-text email-text github-text";
    margin-top: .5rem;
    font-size: 1.4rem;
}

.about__contact__linkedin--icon {
    grid-area: linked-in-icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__contact__linkedin--text {
    grid-area: linked-in-text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.about__contact__email--icon {
    grid-area: email-icon;
    display: flex;
    justify-self: center;
    align-self: center;
}

.about__contact__email--text {
    grid-area: email-text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.about__contact__github--icon {
    grid-area: github-icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__contact__github--text {
    grid-area: github-text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.skills__list {
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: 1rem;
}

.skills__list--item {
    text-align: center;
}

/* Background Video */
/* .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
}

.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

/**********PROJECTS**********/

/**********RESUME**********/

/**********FOOTER**********/